apiVersion: apps/v1
kind: Deployment
metadata:
  name: doggo-rating
  labels:
    app: doggo-rating
spec:
  replicas: 1
  selector:
    matchLabels:
      app: doggo-rating
  template:
    metadata:
      labels:
        app: doggo-rating
    spec:
      imagePullSecrets:
      - name: nexus-secret
      containers:
      - name: doggo-rating
        image: image-rating-replace
        envFrom:
        - configMapRef:
            name: doggo-env
        - secretRef:
            name: doggo-secret
        ports:
        - containerPort: 8081
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /health
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          successThreshold: 1
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /health
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 3
          successThreshold: 1
          failureThreshold: 3
        startupProbe:
          httpGet:
            path: /status
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 30

---
apiVersion: v1
kind: Service
metadata:
  name: doggo-rating
  labels:
    app: doggo-rating
spec:
  selector:
    app: doggo-rating
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      nodePort: 30001
  type: NodePort